html{
    background-color:black;
}
h1{
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px yellowgreen;
    color: rgb(12, 12, 12);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: sans-serif;
}

h3{
    color:rgb(5, 5, 5);
    text-align: center;
    text-shadow: 3px 3px 1px rgb(252, 2, 2);
}
div {
    background: rgb(243, 82, 7);
    color: white;
    margin: 1px;

  }
  #pd {
      background:rgb(255, 255, 255);
      font-family: Georgia, 'Times New Roman', Times, serif;
      

  }
.titulo{
     color: black  ; 
     font-family: fantasy;
     margin-bottom: 50px;
     margin-top: 20px ;
     border: 10px solid rgb(247, 231, 8)  ;
    
  }
  .parrafo {
      text-align: justify;
      font-weight: bold;
  }

  